<div id="islandora-repository-reports-report-type-form">{{ form }}</div>
  {% if show_csv_link %}
    <div id="islandora-repository-reports-csv_link"><a href="{{ csv_url }}">Download the CSV</a></div>
  {% endif %}

  {% if table_content %}
  <div id="islandora-repository-reports-content"><div id="islandora-repository-reports-table">{{ table_content }}</div></div>
  {% else %}
  <div id="islandora-repository-reports-content"><canvas id="islandora-repository-reports-chart"></canvas></div>
  {% endif %}
